<footer class="container d-flex justify-content-center align-items-center py-3">
    <p class="mb-0 me-3">&copy; 2024 Chiang Mai Elephant Sanctury</p>
    <div class="d-flex gap-3">
        <a href="https://wa.me/66956891020" target="_blank" rel="noopener noreferrer">
            <img src="assets/images/whatsapp.png" alt="WhatsApp" width="24">
        </a>
        <a href="https://instagram.com/ton_tours-chiang_mai" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/instagram.png" alt="WhatsApp" width="24">
        </a>
    </div>
</footer>
