<section>
    <div class="volunteer mt-5">
        <h2>Volunteer with Us</h2>
        <p class="mt-3">Join us in making a meaningful impact by volunteering at the Chiang Mai Elephant Sanctuary! As a volunteer, you'll have the unique opportunity to work alongside our dedicated team in caring for the elephants and preserving their natural habitat. From preparing food and assisting with feeding to helping maintain their living spaces, your hands-on efforts will directly support the well-being of these gentle giants. Volunteering with us is not only a chance to learn about elephant conservation up close, but also to experience Thai culture in a deep and fulfilling way. Whether you're staying for a few days or several weeks, your support helps us continue our mission of creating a safe, loving environment for these incredible animals.</p>
    </div>
</section>

<section class="image-grid mt-5">
    <h2 class="text-center mb-5">Our Sanctuary in Action</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img src="assets/images/80606598_296995584580427_3207982146501214208_n.jpg" alt="Sanctuary Image 1" class="img-fluid rounded">
        </div>
        <div class="col-md-6 mb-4">
            <img src="assets/images/398404692_752310793575965_4272308152795607483_n.jpg" alt="Sanctuary Image 2" class="img-fluid rounded">
        </div>
        <div class="col-md-6 mb-4">
            <img src="assets/images/80387274_299147417698577_2140969526936731648_n.jpg" alt="Sanctuary Image 3" class="img-fluid rounded">
        </div>
        <div class="col-md-6 mb-4">
            <img src="assets/images/84527662_328071081472877_8355476785487413248_n.jpg" alt="Sanctuary Image 4" class="img-fluid rounded">
        </div>
    </div>
</section>

