*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.volunteer{
    text-align: center;
    width: 80%;
    margin: 0 auto;

}

p{
    line-height: 2;
}

.form-container{
    width: 60%;
    margin: 0 auto;
}