<h1 class="display-1 text-center">Welcome to Chiang Mai Elephant Sanctury</h1>
    <p class="lead text-center">Where the Human meets The Nature</p>

<app-slider></app-slider>

<main>
    
     <section>
        <h2>Our Story</h2>
        <p>
            In the lush hills of northern Thailand, nestled between emerald-green rice paddies and mist-covered mountains, lies a quaint village known as Ban Thong. This village is unlike any other; it is a sanctuary, a haven where elephants and humans live in harmony.

            Ban Thong is famous throughout the region for its majestic elephants. The villagers, led by the wise and kind-hearted Elder Somchai, dedicate their lives to protecting these gentle giants. The sanctuary is a place of peace where the elephants roam freely, their massive forms gracefully moving through the forest and across the fields.

            Each morning, as the sun’s first rays pierce the morning mist, the villagers gather to feed the elephants. Children laugh as they play near the giant creatures, their tiny hands offering fruits and vegetables that the elephants eagerly accept
        </p>


        <h2>Our Mission</h2>

        <p>

            In the heart of a vast and verdant landscape, a dedicated team of conservationists and local guardians is united by a crucial mission: to protect and preserve the majestic elephants that roam these lands. Their mission is driven by a profound respect for these gentle giants and a commitment to ensuring their survival for future generations.

            One of their key initiatives is to establish and maintain protected areas where elephants can roam freely without the risk of human encroachment. These sanctuaries offer a safe environment for the elephants to live, forage, and socialize, providing them with the freedom to thrive in their natural habitat.

            Education and outreach are essential components of their mission.
            
            Through unwavering dedication and collective effort, the Elephants’ Guardians strive to make a lasting impact. Their mission is a beacon of hope, demonstrating that with commitment, collaboration, and compassion, we can protect these incredible creatures and ensure their survival for generations to come.



        </p>

        <h2 class="contact">Contact Us</h2>

        <app-form></app-form>

      </section>
     


</main>
