<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="">
            <img src="assets/images/elephant.png" alt="Elephant" width="40">
        </a>

       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse mx-auto" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/homepage']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/volunteer']">Volunteer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/donate']">Donate</a>
                </li>
            </ul>
            <div class="flags">
                <img id="thai" src="assets/images/thailand.png" alt="Thai" width="30">
                <img class="flag ms-2" src="assets/images/spain.png" alt="Esp" width="30">
            </div>
        </div>

    </div>
</nav>
