<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <fieldset>
        <legend>Contact Us</legend>

        <ul>
            <li>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required ngModel>
            </li>

            <li>
                <label for="surname">Surname</label>
                <input type="text" id="surname" name="surname" required ngModel>
            </li>

            <li>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required ngModel>
            </li>

            <li>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required ngModel></textarea>
            </li>

            <li>
                <input type="submit" value="Submit">
            </li>
        </ul>
    </fieldset>
</form>
